@use "../../styles/variables" as *;

.container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
}

.checkboxWrapper {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
  user-select: none;
}

.checkbox {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  accent-color: $color-primary;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.checkboxLabel {
  font-size: 0.75rem;
  color: $color-text-secondary;
  font-weight: 500;
}