@use "../../styles/variables" as *;

.container {
  display: flex;
  width: 100%;
  border-radius: $oe-radius-sm;
  background-color: $oe-color-bg;
  border: 1px solid $oe-color-border;
  overflow: hidden;
  height: 2.25rem;
}

.button {
  flex: 1;
  font-size: 0.875rem;
  font-weight: 700;
  transition: all 0.2s;
  border: none;
  cursor: pointer;
  background: transparent;
  color: $oe-color-muted;

  &:hover {
    background-color: $oe-color-surface;
  }

  &.active {
    color: $oe-color-white;

    &.buy {
      background-color: $oe-color-buy;
    }
    &.sell {
      background-color: $oe-color-sell;
    }
  }
}
