@use "../../styles/variables" as *;

.input {
  width: 100%;
  background-color: $oe-color-bg;
  border: 1px solid $oe-color-border;
  border-radius: $oe-radius-sm;
  padding: 0.5rem 0.75rem;
  color: $oe-color-text;
  font-size: 0.875rem;
  transition: border-color 0.2s, box-shadow 0.2s;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px $oe-color-primary;
    border-color: $oe-color-primary;
  }

  &:hover:not(:focus) {
    border-color: adjust($oe-color-border, 20%);
  }

  &.error {
    border-color: $oe-color-sell;
    &:focus {
      box-shadow: 0 0 0 1px $oe-color-sell;
    }
  }
}
