@use "../../styles/variables" as *;

.spinner {
  animation: spin 1s linear infinite;
  color: $color-primary;

  &.sm {
    height: 1rem;
    width: 1rem;
  }
  &.md {
    height: 1.5rem;
    width: 1.5rem;
  }
  &.lg {
    height: 2.5rem;
    width: 2.5rem;
  }
}

.track {
  opacity: 0.25;
}

.path {
  opacity: 0.75;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
