@use "./styles/variables" as *;

.loadingContainer {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: $color-bg;
}

.loadingText {
  margin-top: 1rem;
  color: $color-muted;
  font-size: 0.875rem;
  animation: pulse 2s infinite;
}

.scrollArea {
  max-height: 600px;
  overflow-y: auto;
}

@keyframes pulse {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}